html {
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
    max-width: 100%;
}

#page {
    min-height: 100%
}

.invisible {
    color: rgb(68;68;68;100)
}
.text-shadow {
    text-shadow: 2px 2px 10px #111111;
}

.text-table {
    min-height: 100%;
    min-width: 100%;
}

/* Button Custom */
.btn-red {
    color: #ffffff;
    background-color: rgb(68,68,68,0);
    border-color: #ffffff;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open>.dropdown-toggle.btn-red {
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}
.btn-red-invert{
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}
.btn-red-invert:hover {
    color: #f44336;
    background-color: rgb(68,68,68,0);
    border-color: #f44336;
}
.info-btn {
    min-width: 100%;
    color: #111;
    background-color: #ffffff;
    border: 0;
}
.info-btn:hover {
    color: #ffffff;
    background-color: #f44336;
}
/* Navbar Custom */
.navbar-color {
    background-color: rgb(68,68,68,0.9)!important;
}
.navbar-start-right {
    margin-left: auto!important;;
}

/* Footer Custom */
.footer-color {
    background-color: rgb(68,68,68,1)!important;
}
.social {
    margin: 0;
    padding: 0;
}
.social ul {
    margin: 0;
    padding: 5px;
}
.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    color: #ffffff;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover {
    background: #3b5998 !important;
}
.social .fa-instagram:hover {
    background: #f34320 !important;
}
.social .fa-linkedin:hover {
    background: #007bb6 !important;
}
.social .fa-arrow-down:hover {
    background: #000000 !important;
}

/* Container Format */
.container-body {
    min-width: 100%;
    max-width: 100%;
}
.container-round-corner {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

/* Cover - Home Page */
.cover-home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/home.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - Info Page */
.cover-info {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/info.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - News Page */
.cover-news {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/info.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - About Us Page */
.cover-about-us {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/about_us.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - Partners Page */
.cover-partners {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/partners.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - Contact Page */
.cover-contact {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/contacts.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - Crowdfunding Page */
.cover-crowdfunding {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/crowdfunding.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - Contact Page */
.cover-testimony {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/testimonial.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}


/* Cover - Crowdfunding Page */
.cover-tests {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/tests.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* Cover - Merchandising Page */
.cover-merch {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/cover_background/merch.png);
    min-height: 100%;
    max-width:: 100%;
    box-sizing: inherit;
    position: relative;
    opacity: 0.75;
}

/* No Event */
.untouchable {
	pointer-events: none;
}

.text-decoration-none {
    text-decoration: none!important;
}

/* Index */
.bg-index-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/others/logo_index.png);
    box-sizing: inherit;
    position: relative;
    border-radius: 10px;
}

/* Calendar */
.badge-red {
    color: #ffffff;
    background-color: #f44336;
}

/* Contactos */
.contact-container {
    background-color: #d3d3d3;
}
.map {
    height: 100%; 
    width: 100%;
}

/* Partner Logo Size */
.partner-size-w {
    max-height: 250px;
    max-width: 100%!important;
}

.hover-response:hover {
    opacity: 0.5;
}

/* About Us */
.parallax-section {
	background-attachment: fixed!important;
}

.about-sec {
	background-size: cover;
	color: #000000;
	position: relative;
}

.about-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.about-sec h2 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 25%;
}

.about-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
}

.about-sec p {
	font-size: 16px;
}

.btn-capsul {
	border-radius: 30px;
}

.hide-me[aria-expanded="true"] {
    display: none;
}

/* timeline */
    .main-timeline{
        overflow: hidden;
        position: relative;
    }
    .main-timeline:before{
        content: "";
        width: 3px;
        height: 100%;
        background-color: lightgray;
        /*background: url("images/timeline/line.png"), url("images/timeline/large-arrow.png") no-repeat top center;
        background-size: 3px auto, cover;*/
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-timeline .timeline{
        width: 50%;
        float: right;
        padding: 50px 50px 10px 50px;
        /*margin-top: 50px;*/
        /*margin-top: -40px;*/
        position: relative;
    }
    .main-timeline .dup {
        padding: 0px 50px 10px 50px;
        /*margin-top: -60px;*/
    }
    .main-timeline .timeline:before{
        content: attr(data-heading);
        border: 1px solid lightgray;
        width: 70px;
        height: 35px;
        line-height: 32px;
        border-radius: 20px;
        background: #f44336;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        color: #ffffff;
        position: absolute;
        top: 0px;
        left: -34px;
    }
    .main-timeline .dup:before{
        content: attr(data-heading);
        border: none;
        width: 0px;
        height: 0px;
        line-height: 0px;
        border-radius: 0px;
        background: #e5f9f8;
        text-align: center;
        font-size: 0px;
        font-weight: 0;
        color: #000000;
        position: absolute;
        top: 3px;
        left: -32px;
    }
    .main-timeline .timeline:after{
        content: "";
        width: 50px;
        height: 50px;
        /*border-radius: 50%;
        background: #fae1e4;
        border: 2px solid #3c1525;*/
        background: url("images/timeline/dot.png") no-repeat;
        position: absolute;
        bottom: 130px;
        left: -25px;
    }
    
    .main-timeline .timeline-content{
        display: block;
        padding: 25px 175px 25px 20px;
        border-radius: 0 70px 70px 0;
        /*background: #3c1525;*/
        color: #fff;
        position: relative;
    }
    .main-timeline .timeline-content:hover{ text-decoration: none; }
    .main-timeline .timeline-content:before{
        content: "";
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        background: url('images/timeline/arrow.png') no-repeat;
        position: absolute;
        bottom: 50px;
        left: -60px;
        /*transform: rotate(30deg);*/
    }
    .main-timeline .icon{
        display: inline-block;
        /*width: 150px;*/
        /*height: 134px;*/
        /*line-height: 100px;*/
        /*border-radius: 50%;
        background: #fff;*/
        /*background: url("images/timeline/logo.png") no-repeat;*/
        text-align: center;
        margin: auto;
        font-size: 30px;
        color: #581c22;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 25px;
    }
    .main-timeline .title{
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 0 5px 0;
        color: #000000;
    }
    .main-timeline .sub-title{
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 0 5px 0;
        color: #000000;
    }
    .main-timeline .description{ font-size: 14px;color: #000000; }
    .main-timeline .timeline:nth-child(2n){ padding: 50px 50px 10px 50px; }
    .main-timeline .dup:nth-child(2n){ padding: 0px 50px 10px 50px; }
    .main-timeline .timeline:nth-child(2n):before{
        left: auto;
        right: -40px;
    }
    .main-timeline .timeline:nth-child(2n):after{
        left: auto;
        right: -25px;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        border-radius:70px 0 0 70px;
        padding: 25px  20px 25px 175px;
        text-align: right;
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{
        border-right: 20px solid transparent;
        bottom: 55px;
        left: auto;
        right: -60px;
        /*transform: rotate(-226deg);*/
    }
    .main-timeline .timeline:nth-child(2n) .icon{
        right: auto;
        left: 25px;
    }
    .main-timeline .timeline:nth-child(2){ margin-top: 210px; }
    .main-timeline .dup:nth-child(2){ margin-top: 210px; }
    .main-timeline .timeline:nth-child(odd){ margin: -210px 0 50px 0; }
    .main-timeline .dup:nth-child(odd){ margin: -235px 0 50px 0; }
    .main-timeline .timeline:nth-child(even){ margin-bottom: 190px; }
    /*.main-timeline .dup:nth-child(even){ margin-bottom: 190px; }*/
    .main-timeline .timeline:first-child,
    .main-timeline .timeline:last-child:nth-child(even){ margin: 0 0 0 0; }
    .main-timeline .dup:first-child,
    .main-timeline .dup:last-child:nth-child(even){ margin: -65px 0 0 0; }
    .main-timeline .timeline:last-child:nth-child(even){ margin-bottom: 0; }
    .main-timeline .dup:last-child:nth-child(even){ margin-bottom: 0; }
    @media only screen and (max-width: 1700px){
      .temp-margin{
        margin-top: -65px;
      }
    }
    @media only screen and (max-width: 1200px){
        .main-timeline .timeline{ padding: 50px 0 10px 50px; }
        .main-timeline .dup{ padding: 0px 0 10px 50px; }
        .main-timeline .timeline:nth-child(2n){ padding: 50px 50px 10px 0; }
        .main-timeline .dup:nth-child(2n){ padding: 0px 50px 10px 0; }
        .main-timeline .timeline-content{ padding: 25px 180px 25px 0px;}
        .main-timeline .timeline:nth-child(2n) .timeline-content{ padding: 25px 0px 25px 180px; }
        .temp-margin{
          margin-top: -65px;
        }
    }
    @media only screen and (max-width: 990px){
        .main-timeline .timeline,
        .main-timeline .timeline:nth-child(2n){ padding-top: 20px; }
        .main-timeline .dup:nth-child(2n){ padding-top: 20px; }
        .main-timeline .icon{ right: 15px;height: 95px;width: 115px; }
        .main-timeline .timeline:nth-child(2n) .icon{ left: 15px; }
        .main-timeline .timeline-content {
          padding: 25px 165px 25px 0px;
        }
        .main-timeline .dup,
        .main-timeline .dup:nth-child(2n){ padding-top: 0px; }
        .main-timeline .dup:last-child:nth-child(even){ margin: 0px 0 30px 0; }
        .main-timeline .timeline:after{
          content: "";
          width: 50px;
          height: 50px;
          /*border-radius: 50%;
          background: #fae1e4;
          border: 2px solid #3c1525;*/
          background: url("images/timeline/dot.png") no-repeat;
          position: absolute;
          bottom: 115px;
          left: -25px;
        }
        .main-timeline .timeline:nth-child(2){ margin-top: 250px; }
        .main-timeline .dup:nth-child(2){ margin-top: 230px; }
        .main-timeline .timeline:nth-child(even){ margin-bottom: 185px; }
        .temp-margin{
          margin-top: -65px;
        }
    }
    @media only screen and (max-width: 768px){
        .main-timeline:before,
        .main-timeline .timeline:after,
        .main-timeline .timeline .timeline-content:before{ display: none; }
        .main-timeline .timeline,
        .main-timeline .timeline:nth-child(even),
        .main-timeline .timeline:nth-child(odd){
            width: 100%;
            float: none;
            padding: 50px 0 0 0;
            margin: 0 0 0 0;
        }

        .main-timeline .dup,
        .main-timeline .dup:nth-child(even),
        .main-timeline .dup:nth-child(odd){
            width: 100%;
            float: none;
            padding: 0 0 0 0;
            margin: -50px 0 0px 0;
        }
        .main-timeline .dup:last-child:nth-child(even){ margin: -50px 0 0px 0; }
        .main-timeline .timeline:before,
        .main-timeline .timeline:nth-child(2n):before{
            left: 0;
            transform: translateX(0);
        }
        .main-timeline .timeline:nth-child(2n) .timeline-content{
            padding: 25px 170px 25px 25px;
            border-radius: 0 70px 70px 0;
            text-align: left;
        }
        .main-timeline .timeline:nth-child(2n) .icon{
            right: 15px;
            left: auto;
            height: 95px;
            width: 115px;
        }
        .main-timeline .timeline-content {
          padding: 25px 170px 25px 25px;
        }
        .temp-margin{
          margin-top: 0px;
        }
    }

/* Testimonial Cards */
.testimonial-box {
    padding: 1em;
    text-align: left;
    margin-bottom: 1.1em;
    float: left;
}

.bg-oe-red{
    color: #ffffff;
    background-color: #f44336;
}

/* Crowdfunding PPL */
.crowdfunding-iframe {
    min-height: 600px;
    box-sizing: inherit;
    position: relative;
}

/* Modal Tests */
.modal_oe_i {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/tests_cover/modal_oe_i.jpg);
}

.modal_oe_iii {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/tests_cover/modal_oe_iii.jpg);
}

.modal_oe_iv {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/tests_cover/modal_oe_iv.jpg);
}

.modal_oe_v {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/tests_cover/modal_oe_v.png);
}

.modal_oe_vi {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(img/tests_cover/modal_oe_vi.png);
}

/* Merchandising */
.merch-box {
    background:#000;
    position:relative;
}

.merch-box:after {
    background:rgba(0,0,0,.7);
    position:absolute;
    top:0;
    left:-30%;
    bottom:0;
    right:70%;
    transform:skew(20deg) translateX(-75%);
}

.merch-box:hover:after {
    transform:skew(20deg) translateX(0)
}

.merch-box img {
    width:100%;
    height:auto;
}

.merch-box:hover img {
    opacity:.5
}

.merch-box .merch-box-content {
    padding:20px;
    text-align:right;
    position:absolute;
    top:0;
    right:0;
    z-index:1;
    height: 100%;
}

.merch-box-content {
    display: flex;
}

.merch-box .icon {
    padding:0;
    list-style:none;
}

.merch-box .icon li a {
    text-align:center;
}

.merch-box .title {
    font-size:20px;
    font-weight:900;
    color:#fff;
    margin:0 0 10px;
    transform:scale(0);
}

.merch-box:hover .title {
    transform:scale(1);
}

.merch-box .icon li,.merch-box .post {
    opacity:0;
    transform:translateX(40px);
    transition:all .35s ease 0s;
}

.merch-box .post {
    display:block;
    font-size:14px;
    color:#fff;
    margin-bottom:5px;
}

.merch-box .icon {
    display:inline-block;margin:0;
}

.merch-box:hover .icon li,.merch-box:hover .post {
    opacity:1;transform:translateX(0)}

.merch-box:hover .icon li:first-child {
    transition-delay:.1s;
}

.merch-box:hover .icon li:nth-child(2) {
    transition-delay:.2s;
}

.merch-box .icon li a {
    display:block;
    width:35px;
    height:35px;
    line-height:35px;
    background:#fff;
    font-size:18px;
    color:#f44336;
    margin-bottom:5px;
    transition:all .35s ease;
}

.merch-box .icon li a:hover {
    background:#f44336;
    color:#fff;
}

@media only screen and (max-width:990px) {
    .merch-box {
        margin-bottom:30px;
    }
}

.modal-img-max {
    min-width: 100%;
}

/* About Us */
.about-color {
    background-color: rgb(62, 77, 81, 0.8);
}


